<div class="col-md-4 offset-md-4 mt-5">
    <div class="card">
      <h4 class="card-header" style=" background: #79a9e0;">Password Reset</h4>
      <div class="card-body">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors?.minlength">Minium Password length is 6</div>
            </div>
          </div>
          <!-- Confirm Password -->
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input 
                formControlName="confirm_password"
                id="confirm_password" 
                type="password" 
                class="form-control">
            <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                <div *ngIf="f.confirm_password.errors.required">Confirm Password is required.</div>
                <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.</div>
            </div>
        </div>
          <div *ngIf="invalid" class="mb-3 text-danger">User does not exist!</div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Reset
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
